
a {
  text-decoration: inherit;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container > input {
  height: 55px;
  padding: 16.5px 14px;
  width: 100%;
  outline: none;
}

.react-datepicker__input-container > input:forcus-visible {
  outline: #1976d2;
}
